@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Movies</h1>
    <p>To register a new movie, please visit the <a asp-controller="Home" asp-action="Registration">Movie Registration Page</a>.</p>
</div>
